transformers
accelerate
huggingface_hub
unsloth
sentence-transformers
librosa
soundfile
sentencepiece
replicate
faster-whisper
fastapi
uvicorn[standard]

python-dotenv
python-multipart
pydantic

numpy
sentencepiece
torch
faiss-cpu

librosa
soundfile

faster-whisper

langdetect