torch
torchaudio
transformers
accelerate
huggingface_hub
unsloth
librosa
soundfile
sentencepiece
replicate
faster-whisper
fastapi
uvicorn
pydantic
python-dotenv
python-multipart
numpy
faiss-cpu
langdetect
cog